*{
    margin: 0;
    padding: 0;
}
.main
{
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(1.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar {
    width: 100%;
    height: 75px;
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
}

ul {
    display: flex;
    justify-content: flex-start; 
}

ul li {
    list-style: none;
    margin-left: 62px; 
    margin-top: 27px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover {
    color: #ff7200;
}
.content
{
    width:100%;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    font-size: large;
}
.content .t
{
    font-size: 100px;
    color:aqua;
    font-family: Arial;
}
.content .para
{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 27px;
    color:white;
    font-weight: bolder;
    margin-top: 30px;
}
.content .para1
{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 50px;
    color:aqua;
    margin-top: 30px;
}
.content h1
{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .btn
{
    width: 150px;
    height: 40px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;

}
.content .btn a
{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: .3s ease-in-out;
}
.btn:hover
{
    background-color:aqua;
}